@if (Session["user"] != null)
{
    System.Collections.Generic.List<PayrollSystemLibrary.GetEmployeeByEmailAndPassword_Result> lst = (System.Collections.Generic.List<PayrollSystemLibrary.GetEmployeeByEmailAndPassword_Result>)(Session["user"]);
<span>Welcome @lst.FirstOrDefault().Name</span>
}
<br />
