@model PayrollSystem.Models.SalaryClass

@{
    ViewBag.Title = "GeneratePaySlip";
}

<div class="col-md-7 mt-text animate-box" data-animate-effect="fadeInUp">

    @{Html.RenderPartial("WelcomeHeader");}

    <a href="EditProfile" style="text-align:left !important;margin-left:1.2%;">Edit Profile</a>
    <br />
    <br />
    @if (Model.Message != null)
    {
        @Html.Label(Model.Message, new { @style = "color:red;" })
    }

    <span class="intro-text-small">Select months to generate payslips</span>


    @using (Html.BeginForm("GeneratePaySlip", "Salary", FormMethod.Post, new { @id = "GeneratePaySlip" }))
    {
       
        @Html.DropDownList("SalaryYear", new SelectList(Model.Year, "", ""), "Please select Year", new { @class = "form-control", @style="width:auto;background:#ffffff;" })
        @Html.Hidden("SelectedYear")
        <br />
        if (ViewData["Message"] != null)
        {
            @ViewData["Message"]
        }

        <div id="MonthList"></div>

        <input type="submit" value="Generate payslip" name="btnSubmit" id="BtnGeneratePaySlip" class="btn btn-primary" style="display:none;" />

    }


</div>
