@model PayrollSystem.Models.SalaryClass


  @if (Model != null)
  {
      foreach (var month in Model.GetMonthListByYear)
      {
        <div class="form-inline">
            @Html.CheckBox(month.MonthId.ToString(), new { @id = month.MonthId.ToString(), @Name = "chkMonthList", @value = month.MonthId.ToString(), onclick = "ToggleGenerateBtn();", @class = "checkbox" })
            @Html.Label(month.MonthName, new { @class = "label" })
            <br />
        </div>
      }
  }
  else
  {
      <br />
  }
